article :first-child {
  color: yellow;
}
h2 {
  color: red;
  font-family: Arial;
  font-size: 20px;
}

a {
  color: green;
}

article :first-child {
  color: blue;
}

article :nth-child(2) {
  color: grey;
}

article :last-child {
  color: purple;
}
